* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

/*div {*/
/*    border: 1px solid black;*/
/*}*/

input {
    outline: none;
}

details summary {
    outline: none;
}

ul {
    list-style: none;
}

summary::-webkit-details-marker {
    display: none;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.uppercase {
    text-transform: uppercase;
}


.logo_text {
    color: #222222;
    font-size: 27px;
    text-transform: uppercase;
    font-family: "Lato Light";
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.68px;
    line-height: normal;
}

.logo_red_style {
    font-size: 27px;
    text-transform: uppercase;
    color: #f16d7f;
    font-family: "Lato - Black";
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.68px;
    line-height: normal;
}

.header_flex {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);*/
    border-bottom: 1px solid #ececec;
}

.header_left {
    display: flex;
    align-items: center;
}

.header_right {
    display: flex;
    align-items: center;
}

.logo_ref {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo_img {
    margin-right: 13px;
}

.logo_text {
    margin-right: 37px;
    margin-top: 10px;
}

.search_form {
    display: flex;
}

.browse_button {
    position: relative;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    cursor: pointer;
}

.browse_button_text {
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;

    padding: 10px 15px;
}

.browse_button_text {
    display: block;
    width: 87px;
    outline: none;
    box-sizing: border-box;
}

.browse_button_text::-webkit-details-marker {
    display: none;
}

.browse_button_text::after {
    font-family: "Font Awesome 5 Free";
    content: "\f0da";
    padding-left: 8px;
    color: #838383;
    font-weight: 900;
}

details[open] > .browse_button_text::after {
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
    padding-left: 8px;
    color: #838383;
    font-weight: 900;

}

.browse_menu_box {
    display:flex;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px 15px;
    border: 1px solid #e8e8e8;
    z-index: 1;
    top: 38px;
}

.browse_menu_box:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    position: absolute;
    top: -7px;
    left: 67px;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    transform: rotate(45deg);
}

.browse_link {
    padding-left: 5px;
}

.search_input {
    width: 279px;
    height: 40px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    border-left-style: none;
    border-right-style: none;
    box-sizing: border-box;
    padding: 14px 16px;
}

.search_input::-webkit-input-placeholder {
    color: #a4a4a4;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
}

.search_button {
    width: 40px;
    height: 40px;
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    cursor: pointer;
}

.fa-input {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #a4a4a4;
}

.fa-input:hover {
    color: #f16d7f;
}

.chart {
    position: relative;
    align-self: flex-end;
}

.chart:hover .chart_menu_box {
    display: block;
}

.header_chart_ref {
    padding: 26px;
}

.chart_container {
    width: 225px;
}

.chart_menu_box {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px 15px;
    border: 1px solid #e8e8e8;
    z-index: 1;
    top: 40px;
    right: -184px;
}

.chart_menu_box:before {
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    position: absolute;
    top: -7px;
    left: 26px;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    transform: rotate(45deg);
}

.chart_item {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ededed;
    margin-bottom: 16px;
    padding-bottom: 16px;
}

.item_container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
}

.chart_item:last-of-type {
    margin-bottom: 0px;
}

.chart_item_content {
    margin-left: 14px;
}

.chart_item_header {
    color: #222222;
    font-family: Lato;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.char_item_price {
    color: #f16d7f;
    font-family: Lato;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.chart_menu_button {
    color: #4a4a4a;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;

    display: block;
    text-align: center;
    padding: 20px 0px;
    margin-bottom: 10px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    box-sizing: border-box;

}

.chart_menu_button:last-of-type {
    margin-bottom: 0px;
}

.rating {
    display: flex;
    color: #e4af48;
}

.chart-item_rating {
    margin-top: 10px;
    margin-bottom: 12px;
}

.single-page_rating {
    margin-bottom: 26px;
}

.delete_button {
    display: block;
    color: #c0c0c0;
    font-family: "Font Awesome";
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;

}

.fa-times-circle:hover {
    background-color: #f16d7f;
    border-radius: 20px;
}

.chart_menu_button:hover {
    background-color: #ffffff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
    box-sizing: border-box;
}

.header_acc_button {
    background-color: #f16d7f;
    padding: 12px 19px;
    box-sizing: border-box;
    border: 1px solid transparent;

    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.38px;
    line-height: normal;

}

.header_acc_button__fa-caret-down {
   padding-left: 2px;
}

.chart_total {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    margin-top: 19px;
}

.total_text {
    color: #222222;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.header_acc_button:hover {
    background-color: #ffffff;
    color: #f16d7f;
    border: 1px solid #f16d7f;
    box-sizing: border-box;
}

.nav_flex {
    display: flex;
    justify-content: center;
    height: 51px;
}

.nav_menu {
    display: flex;
    list-style: none;
    position: relative;
    align-items: center;
}

.nav_item {
    color: #222222;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;

    padding: 20px 25px;
    display:block;
    position: relative;
}

/*.nav_line {*/
/*    display: none;*/
/*    height: 3px;*/
/*    background: #f16d7f;*/
/*    margin-top: 5px;*/
/*}*/

/*.nav_menu li:hover .nav_line {*/
/*   display: block;*/
/*}*/

.nav_menu li:hover .nav_item {
    color: #f16d7f;
}

.nav_menu li:hover .drop_menu_box {
    display: flex;
}

.nav_menu li:hover .menu_box_arrow {
    display: block;
}

.menu_box_arrow {
    display: none;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
    position: absolute;
    top: 40px;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #e8e8e8;
    transform: rotate(45deg);
    z-index: 1;
}

.drop_menu_box {
    display:none;
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px 25px;
    border: 1px solid #e8e8e8;
    top: 43px;
    left: 0px;
}

.drop_menu_column {
    margin-right: 46px;
}

.drop_menu_column:last-of-type {
    margin-right: 0;
}

.drop_menu_item a {
    display: block;
}

.drop_menu_header {
    width: 235px;
    color: #232323;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;

    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px;
}

.drop_menu_header:hover {
    color: #f16d7f;
}

.drop_menu_list{
    list-style: none;
    margin-top: 16px;
}

.drop_menu_list li {
    margin-bottom: 8px;
}

.drop_menu_list li:last-of-type {
    margin-bottom: 0;
}

.drop_menu_link {
    color: #646464;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
}

.drop_menu_item {
    margin-bottom: 37px;
}

.drop_menu_item:last-of-type {
    margin-bottom: 0;
}

.drop_menu_img {
    position: absolute;
    top: 173px;
    right: 20px;
}

.menu_img_text {
    width: 71px;
    position: absolute;
    top: 61px;
    left: 174px;

    color: #ffffff;
    font-family: "Lato - Black";
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.55px;
    line-height: normal;
}

.browse_item {
    margin-bottom: 30px;
}

.drop_menu_link:hover {
    color: #f16d7f;
}

.slider {
    background-color: #e8e8e8;
}

.slider_container {
    height: 612px;
    background-image: url(img/slider_background.png);
    background-position-y:-51px;
    background-repeat: no-repeat;
    padding-top: 224px;
}

.slider_content {
    display: flex;
    align-items: center;
}

.slider_border {
    width: 12px;
    height: 92px;
    background-color: #f16d7f;
    margin-right: 12px;
}

.slider_header {
    color: #222222;
    font-family: "Lato - Black";
    font-weight: 400;
    text-transform: uppercase;
    font-size: 60px;
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: normal;
}

.slider_text {
    color: #222222;
    font-family: "Lato - Black";
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
}

.slider_text_red {
    font-family: "Lato - Black";
    font-size: 40px;
    font-weight: 400;
    text-transform: uppercase;
    color: #f16d7f;
    font-style: normal;
    letter-spacing: 1px;
    line-height: normal;
}

.offer {
    margin-top:98px;
}

.offer_flex {
    display: flex;
    justify-content: space-between;
}

.offer_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.offer_item {
    display: block;
    position: relative;
}

.offer_img {
    display: block;
}

.top_offer {
    margin-bottom: 20px;
}

.offer_content {
    position: absolute;
    top: 26px;
    background-color: #ffffff;
    padding: 16px 20px;
}

.offer_text {
    color: #222222;
    font-family: "Lato - Black";
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
}

.offer_header {
    font-family: "Lato - Black";
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    text-align: left;
    text-transform: uppercase;
    color: #f16d7f;
    font-size: 30px;
    letter-spacing: 0.75px;
}

.products {
    margin-top: 100px;
}

.products_header {
    text-align: center;
    margin-bottom: 16px;

    color: #222222;
    font-family: Lato;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.75px;
    line-height: normal;
}

.products_text{
    text-align: center;
    margin-bottom: 17px;
    color: #9f9f9f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
}

.product_item {
    width: 261px;
    height: 364px;
    position: relative;
}

.product_item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.products_img {
    background-color: #e9e9e9;
    height: 280px;
}

.product_item:hover  .products_img {
    filter: brightness(50%);
}

.product_item:hover  .add_product {
    display:flex;
}

.add_chart_svg_red {
    display: none;
}

.add_product:hover {
    border: 1px solid #f16d7f;
}

.add_product:hover  .add_chart_text {
    color: #f16d7f;
}

.add_product:hover .add_chart_svg{
    display: none;
}

.add_product:hover .add_chart_svg_red{
    display: block;
}

.products_box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
    margin-top: 60px;
    margin-bottom: 79px;
}

.add_flex {
    display: flex;
    justify-content: center;
}

.product_content {
    height: 83px;
    padding: 20px 15px;
}

.add_product {
    display: none;
    border: 1px solid #ffffff;
    position: absolute;
    top: 98px;
    align-items: center;
    padding: 7px 13px;
}

.add_chart_text {
    margin-left: 8px;

    color: #ffffff;
    font-family: Lato;
    font-size: 13px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.product_name {
    margin-bottom: 17px;

    color: #222222;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.product_price {
    color: #f16d7f;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.butt_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.butt_container p {
    margin-left: 14px;
}

.products_button {
    background-color: #f16d7f;
    padding: 18px 24px;
    text-align: center;
    border: 1px solid transparent;

    color: #ffffff;
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
}

.chart_img_red {
    display: none;
}

.fa-long-arrow-alt-right {
    padding-left: 9px;
}

.products_button:hover {
     background-color: #ffffff;
     color: #f16d7f;
     border: 1px solid #f16d7f;
     box-sizing: border-box;
 }

.products_button:hover .chart_img_red {
    display: block;
}

.products_button:hover .chart_img_white {
    display: none;
}


.features {
    margin-top: 113px;
}

.features_flex {
    display: flex;
    position: relative;
}

.banner_header {
    color: #ffffff;
    font-family: Lato;
    font-size: 54px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 1.5px;
    line-height: normal;
}

.banner_text {
    color: #ffffff;
    font-family: Lato;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 32px;
    font-style: normal;
    letter-spacing: 0.9px;
    line-height: normal;
}

.red_offer {
    color: #f16d7f;
}

.features_box {
    padding-left: 111px;
    padding-top: 55px;
    flex-grow: 1;
}

.feature_item {
    margin-bottom: 62px;
    list-style: none;
    position: relative;
}

.fe_img {
    position: absolute;
    top: -5px;
    left: -78px;

}

.fe_item_header {
    color: #fbfbfb;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: normal;

    margin-bottom: 17px;
}

.fe_item_text {
    width: 219px;

    color: #fbfbfb;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
}

.banner_content {
    position: absolute;
    top: 146px;
    left: 39px;
}

.features_box {
    background-color: #222224;
}

.subscribe {
    margin-top: 97px;
    height: 438px;
    background-image: url("img/subscribe_bacground.png");
    background-repeat: no-repeat;
    background-position: center;
}

.container_1618 {
    width: 1618px;
    height: 438px;
    margin: 0 auto;
    background-image: url("img/subscribe_bacground.png");
    background-repeat: no-repeat;
}

.subscribe_flex {
    height: 100%;
    display: flex;
}

.subscribe_left {
    margin-top: 111px;
    margin-right: 72px;
}

.subscribe_border {
    width: 1px;
    background-color: #ffffff;
    margin-right: 92px;
}

.feedback_flex {
    display: flex;
}

.feedback_text {
    margin-bottom: 19px;

    color: #222224;
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    text-align: left;
    letter-spacing: 0.4px;
    line-height: normal;
}

.feedback_text {
    margin-top: 12px;

    color: #222224;
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    letter-spacing: normal;
    line-height: 26px;
}

.red_sign {
    color: #f16d7f;
    font-size: 16px;
    font-family: "Lato - Bold";
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: 26px;
}

.feedback_img {
    margin-right: 28px;
    align-self: flex-start;
}

.feed_content {
    width: 386px;
}

.control {
    display: flex;
    margin-top: 41px;
}

.control_item {
    width: 38px;
    height: 4px;
    background-color: #d6d6d6;
    margin-right: 13px;
}

.control_item:hover {
    background-color: #f16d7f;
}

.subscribe_right {
    margin-top: 148px;
}

.subscribe_header {
    color: #222224;
    font-family: Lato;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    letter-spacing: 0.6px;
    line-height: 54px;
    text-transform: uppercase;
}

.subscribe_text {
    color: #222224;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: 24px;
}

.subscribe_form {
    display: flex;
    margin-top: 35px;
}

.subscribe_input {
    width: 230px;
    height: 46px;
    border-radius: 23px 0px 0px 23px;
    background-color: #e1e1e1;
    border-right-style: none;
    padding-left: 28px;
    border: none;
}

.subscribe_button {
    width: 104px;
    height: 46px;
    border-radius: 0 23px 23px 0;
    background-color: #f16d7f;
    box-sizing: border-box;
    border: none;
    cursor: pointer;

    color: #ffffff;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    font-style: normal;
    letter-spacing: 0.35px;
    line-height: normal;
}

.subscribe_button:hover {
    background-color: unset;
    color: #f16d7f;
    border: 1px solid #f16d7f;
    box-sizing: border-box;
}

.footer_bottom {
    height: 79px;
    background-color: #e6e6e6;
}

.footer_flex_bottom {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer_flex_top {
    display: flex;
}

.footer_top {
    padding-top:109px;
    padding-bottom: 97px;
}

.footer_text {
    width:427px ;
    color: #898989;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
}

.footer_content {
    margin-right: 64px;

}

.footer_menu {
    display: flex;
    margin-top: 14px;
}

.copywrite {
    color: #7a7a7a;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.4px;
    line-height: normal;
}

.soc_link {
    color: #ffffff;
}

.soc_link:hover {
    color: #f16d7f;
}

.footer_logo {
    margin-bottom: 29px;
}

.footer_item_1 {
    margin-right: 129px;
}

.footer_item_2 {
    margin-right: 80px;
}

.footer_list {
    height: 180px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.foot_item_header {
    margin-bottom: 45px;

    color: #f16d7f;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 0.45px;
    line-height: normal;
}

.foot_list_item:last-of-type {
    margin-bottom: 0px;
}

.foot_link {
    color: #898989;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.4px;
    display: block;
}

.foot_list_item:hover .foot_link{
    color: #f16d7f;
}

.breadcrumb {
    height: 148px;
    background-color: #f8f3f4;
}

.breadcrumb_flex {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.breadcrumb_header {
    color: #f16d7f;
    font-family: "Lato - Black";
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.breadcrumb_link {
    font-size: 14px;
    text-transform: uppercase;
    color: #636363;
    font-family: "Lato Light";
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.breadcrumb_link:last-of-type {
    color: #f16d7f;
    font-size: 14px;
    text-transform: uppercase;
    font-family: "Lato - Bold";
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.breadcrumb_link:hover {
    color: #f16d7f;
}




.single_slider {
    height: 777px;
    display: flex;
    align-items: center;
    border: 1px solid #eaeaea;
    background-color: #f7f7f7;
    background-image: url("img/single_page/slider_img_1.png");
    background-repeat: no-repeat;
    background-position: center;
}

.single_slider_flex {
    height: 100%;
    width: 1607px;
    display: flex;
    align-items: center;
}

.slider_control {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.slider_control_item {
    display:flex;
    align-items: center;
    width: 47px;
    height: 47px;
    background-color: #2a2a2a;
    opacity: 40%;
    padding-left:18px;

}

.slider_control_item p {
    color: #ffffff;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    align-self: center;
}

.slider_control_item:hover p {
    color: #f16d7f;
}

.product_description {
    position: relative;
    height: 647px;
}

.position_container {
    width: 1140px;
    position: relative;
    margin: 0 auto;

}

.description_container {
    height: 732px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    position: absolute;
    top: -86px;
}

.description_box {
    display:flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 618px;
    margin: 0 auto;
    top: 0px;
    left: 0px;
}

.description_header {
    margin-top: 73px;
}
.collection_header {
    color: #f16d7f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 14px;
}

.devider_box {
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}

.devider {
    flex-grow: 1;
    height: 1px;
    border: 1px solid #eaeaea;
    background-color: #ef5b70;
}

.devider_center {
    flex-grow: 1;
    height: 3px;
    background-color: #ef5b70;
}

.desc_product_name {
    color: #4d4d4d;
    font-family: "Lato - Black";
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;

    margin-bottom: 24px;
}

.description_content {
    margin-top: 26px;
}

.description_content p {
    color: #5e5e5e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.char_box {
    display: flex;
    margin-top: 28px;
    margin-bottom: 37px;
    justify-content: center;
}

.char_item:first-child{
    margin-right: 44px;
}

.char_item {
    display: flex;
}

.char_name {
    color: #b9b9b9;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.char_value {
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2f2f2f;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.price {
    color: #ef5b70;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;

    margin-bottom: 43px;
}

.border_line {
    height: 1px;
    border: 1px solid #eaeaea;
    background-color: #ef5b70;
}

.add_chart_butt {
    width: 537px;
    display: block;
    line-height: 22px;
}

.filter_box {
    width: 537px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.filter_header {
    color: #2f2f2f;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;

    margin-bottom: 16px;
}

.filter_input {
    width: 144px;
    height: 35px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    padding-left: 15px;

    color: #bcbcbc;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.input_details {
    padding-left: 8px;
}

.filter_input summary {
    color: #bcbcbc;
    font-family: Lato;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
}

.filter_summary {
    display: flex;
    padding: 9px;
}

.filter_summary {
    display: block;
    outline: none;
    box-sizing: border-box;
}

.filter_summary::-webkit-details-marker {
    display: none;
}

.filter_summary::before {
    font-family: "Font Awesome 5 Free";
    content: "\f0c8";
    margin-right: 11px;
    color: #ef5b70;;
    font-weight: 900;
}

.filter_summary::after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    padding-left: 63px;
    color: #bcbcbc;
    font-weight: 900;
}

.input_details[open] > .filter_summary::after {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    padding-left: 63px;
    color: #bcbcbc;
    font-weight: 900;

}

.product-content-flex {
    display: flex;
    margin-top: 59px;
    justify-content: space-between;
}

.sidebar {
    width: 243px;
}

.sidebar-item {
    margin-bottom: 18px;
}

.sidebar-item summary {
    color: #6f6e6e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    padding: 11px 12px;
    position: relative;

    border-bottom: 1px solid #ebebeb;
    border-left: 5px solid #ef5b70;
}

.sidebar-summary::-webkit-details-marker {
    color: blue;
}

.sidebar-item:hover .sidebar-summary {
    color: #ef5b70;
}
.sidebar-item:hover .sidebar-summary::after {
    color: #ef5b70;
}

.sidebar-summary::after{
    display: block;
    font-family: "Font Awesome 5 Free";
    content: "\f0da";
    color: #6f6e6e;
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);

}

.sidebar-item[open] > .sidebar-summary::after {
    display: block;
    font-family: "Font Awesome 5 Free";
    content: "\f0d7";
    color: #ef5b70;
    font-weight: 900;
    position: absolute;
    top: 50%;
    right: 6px;
    transform: translateY(-50%);
}

.sidebar-item[open] > .sidebar-summary {
    color: #ef5b70;
}

.sidebar-link a {
    display: block;

    color: #6f6e6e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 33px;
}

.sidebar-link:hover a {
    color: #ef5b70;
}

.sidebar-menu {
    padding-top: 22px;
    padding-left: 22px;
}

.main-box {
    width: 864px;
}

.filter-box {
    display: flex;
    justify-content: space-between;
}

.filter-item {
    width: 262px;
}

.filter-header {
    color: #6f6e6e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.row-flex {
    display: flex;
    align-items: center;
}

.form-trendings a {
    display: block;
    color: #6f6e6e;
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

.form-trendings a:hover {
    color: #ef5b70
}

.row-flex a:after {
    content: "|";
    font-family: Lato;
    font-size: 14px;
    font-weight: 900;
    font-style: normal;
    letter-spacing: normal;
    line-height: 26px;
    color: #dfdfdf;
    margin-left: 10px;
    margin-right: 10px;
}
.row-flex a:last-of-type:after {
    display: none;
}

.size-container {
    display: flex;
    align-items: center;
    position: relative;
}

.size-container:hover .size-label
{
    color: #ef5b70 ;
}

.size-checkbox {
    display: block;
    cursor: pointer;
    margin-right: 56px;
}

.size-label {
    position: absolute;
    color: #6f6e6e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
    left: 22px;
}

.price-container {
    display: flex;
    align-items: center;
    position: relative;
}

.price-range-high{
    /*position: absolute;*/
    left: 15px;
}

prod-features {
    height: 340px;
    margin-bottom: 0px;
}

.prod-feature-list {
    display: flex;
    justify-content: space-between;
}

.prod-fe-item {
    align-self: center;
    text-align: center;
}

.prod-fe-item p {
    width: 308px;
}

.prod-fe_img {
    position: unset;
    align-self: center;
    margin-bottom: 32px;
}